<div id="header">
  <span id="index-buttons">
    <%= link_to "About", about_path, class: "btn btn-default btn-lg" unless user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" unless user_signed_in? %>
  </span>
	 <h1 class="center">Pinteresting</h1>

</div>