<div class="category-pages">
	<h1>Categories</h1>
	<% @categories.each do |category| %>
		<%= link_to category_path(category) do %>
			<h2><%= category.name %><h2>
		<% end %>
	<% end %>
	<%= link_to new_category_path do %>
      <div class="btn btn-default">
        <span class="glyphicon glyphicon-certificate"></span> Create a New Category
      </div>
    <% end %>
</div>